/* styles.css */

/* Add styles here to customize the appearance of your app */
.image-wrapper {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.image-wrapper .image__content {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.image-wrapper .dot-ng {
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid red;
}
.dot-list {
  text-align: center;
  width: 100px;
  transform: translateX(45px);
  color: black;
  border-radius: 10px;
  font-size: 12px;
  word-wrap: break-word;
  list-style: none;
  background-color: rgba(245, 159, 159, 0.55);
}

.list-ng-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.list-ng {
  cursor: pointer;
  display: block;
  padding: 10px 40px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
